* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



nav {
    background-color: #4a4f6d;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: #2f477a;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 20px gray;
    float:right;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 30px;
    border-top: 1px solid gray;
    text-align: center;
}
/********** Class Selectors**********/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    }

    aside h2 {
        position: absolute;
        top: 20px;
        left: 35px;
    }
